<!-- Login/SignUp Modal -->
<!-- Begin: Sign In Modal -->
<div id="authModal" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="loginForm">
            <h2>Login</h2>
            <form>
                <div class="signup-input">
                    <div class="icon-container">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input type="email" name="login_email" id="login_email" placeholder="Email *">
                    <div id="invalid_login_email" class="invalid-msg"></div>
                </div>
                <div class="signup-input">
                    <div class="icon-container">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="password" name="login_password" id="login_password" placeholder="Password *">
                    <div id="invalid_login_password" class="invalid-msg"></div>
                </div>
                <button onclick="login()" type="submit">Login</button>
            </form>
            <p>Don't have an account? <span class="login_toggle" onclick="toggleForms()">Sign up</span></p>
        </div>
        <div id="signupForm" style="display: none;">
            <h2>Sign up</h2>
            <form>
                <div class="signup-input">
                    <div class="icon-container">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" name="name" id="name" placeholder="Name *">
                    <div id="invalid_name" class="invalid-msg"></div>
                </div>
                <div class="signup-input">
                    <div class="icon-container">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <input type="email" name="email" id="email" placeholder="Email *">
                    <div id="invalid_email" class="invalid-msg"></div>
                </div>
                <div class="signup-input">
                    <div class="icon-container">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="password" name="password" id="password" placeholder="Password *">
                    <div id="invalid_password" class="invalid-msg"></div>
                </div>
                <div class="signup-input">
                    <div class="icon-container">
                        <i class="fa fa-lock"></i>
                    </div>
                    <input type="text" name="verify_password" id="verify_password" placeholder="Confirm Password *">
                    <div id="invalid_confirm_password" class="invalid-msg"></div>
                </div>
                <button onclick="signup()" type="submit">Sign up</button>
            </form>
            <p>Already have an account? <span class="login_toggle" onclick="toggleForms()">Login</span></p>
        </div>
    </div>
</div>

<script src="/public/assets/scripts/modal.js"></script>
<!-- End: Sign In Modal -->